<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" type="text/css" />
    <title>Express Training</title>
  </head>
  <body>
    <main>
      <h1>Voici certaines de mes villes favorites</h1>
      <ul>
        <li><a href="/city/paris">Paris</a></li>
        <li><a href="/city/nelson">Nelson BC</a></li>
        <li><a href="/city/bangkok">Bangkok</a></li>
        <li><a href="/city/porto">Porto</a></li>
        <li><a href="/city/seville">Seville</a></li>
      </ul>
    </main>
  </body>
</html>
