<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" type="text/css" />
    <title>Express Training</title>
  </head>
  <header>
          <h1>Voici cette belle ville de TODO - nom de la ville</h1>

  </header>
  <body>
    <main>
      <p>Coucou , voilà NOMVILLE TIMEZONE, INSERER ICI HEURE </p>
      </ul>
    </main>
    <footer>
      2021 , Rémi
    </footer>
  </body>
</html>
